* {
    box-sizing: border-box;
}

body {
    font-family: Sarabun;
    z-index: -1;
}

.row1 {
    display: block;
    width: 70%;
    height: auto;
    background: #003459;
    border-radius: 32px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
    z-index: -1;
}

.dark .row1 {
    display: block;
    width: 70%;
    height: auto;
    background: #BDBDBD;
    border-radius: 32px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
    z-index: -1;
}

.c1 {
    color: white;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    padding: 8px;
    position: relative;
    top: 1px;
    z-index: -1;
}



.dark .c1 {
    color: #212121;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    padding: 8px;
    position: relative;
    top: 1px;
    z-index: -1;
}

.c3 {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    top: 10px;

}

.dark .c3 {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    color: #212121;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    top: 10px;

}

footer {
    display: block;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 120px;
}

.dark footer {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 120px;
}

center a {
    position: relative;
    top: 50px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }

    .c1 {
        font-size: 24px;
    }

    .c3 {
        font-size: 16px;
    }

    .iconc {
        height: 50%;
        width: 50%;
    }

}