body{
    background-color: white;
}

.toggle{
    position: relative;
    float: right;
    right: 210px;
    bottom: 130px;
    height: 32.5px;
    width: 77px;
    border-radius: 100px;
    background-color: #003459;
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;

}

.toggle .img3{
    width: 20px;
    position: relative;
    bottom: -8px;
    left: 9px;
    opacity: 0;
    transition: 0.5s;
}

.toggle .img4{
    width: 15px;
    position: relative;
    text-align: right;
    bottom: -7px;
    left: 26px;
    opacity: 100;
    transition: 0.5s;
}

.toggle::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    top: 50%;
    bottom: 4px;
    left: 6px;
    transform: translateY(-50%);
    transition: 0.4s;
    z-index: 0;
}

.toggle.active::before{
    left: calc(100% - 10px - 16px);
}


body.dark{
    background-color: #181818;
}

body.dark .toggle{
    position: relative;
    float: right;
    right: 210px;
    bottom: 132px;
    height: 32.5px;
    width: 77px;
    border-radius: 100px;
    background-color: #404040;
    cursor: pointer;
    transition: 0.4s;
}

body.dark .toggle .img3{
    width: 20px;
    position: relative;
    bottom: -8px;
    left: 9px;
    opacity: 100;
    transition: 0.5s;
}

body.dark .toggle .img4{
    width: 15px;
    position: relative;
    bottom: -7px;
    left: 26px;;
    opacity: 0;
    transition: 0.5s;

}

body.dark .toggle::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    bottom: 4px;
    transition: 0.4s;
    
}

body.dark .toggle.active::before{
    left: calc(100% - 10px - 15px);
}

.img3{
    pointer-events: none;
}

.img4{
    pointer-events: none;
}
