.main {
  max-width: 90%;
  margin: auto;
}

p {
  position: relative;
  margin-top: 50px;
  color: black;
  font-size: 58px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}

.dark p {
  color: #fff;
}


.Drawing {
  color: black;
  font-size: 56px;
  font-weight: 400;
  text-align: center;
  font-family: 'Sarabun';
  text-transform: uppercase;
}

.nav ul {
  width: 100%;
  list-style: none;
  background-color: none;
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  display: flex;
}

.nav li {
  font-size: 1.2rem;
  line-height: 40px;
  font-family: "Sarabun";
  margin: 0;
  padding: 0;
}


.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}


.nav a:hover {
  text-decoration: none;
  color: #00345973;
  transition: 0.3s;
}


.nav ul.active {
  color: #0095ff73;
}


* {
  box-sizing: border-box;
}

.row {
  margin: 10px -16px;
}

.row,
.row>.column {
  padding: 8px;
}


.column {
  float: left;
  text-transform: uppercase;
  font-family: "Sarabun";
  width: 33.33%;
  display: none;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
  border-radius: 10px;
  background-color: #f2f2f577;
  padding: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 5px 5px rgba(77, 77, 77, 0.4);
  margin-top: 20px;
}


.dark .content {
  border-radius: 10px;
  background-color: #BDBDBD;
  padding: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 5px 5px rgba(77, 77, 77, 0.4);
  margin-top: 20px;

}

.content:hover {
  border-radius: 10px;
  background-color: #003459;
  color: white;
  padding: 10px;
  cursor: pointer;
}


.dark .content:hover {
  border-radius: 10px;
  background-color: #424242;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.show {
  display: block;
}


.btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  margin: 0 20px;
  margin-bottom: 10px;
}

.dark .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background: #424242;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
}

.btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #003459, #000);
}

.dark .btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #212121, #BDBDBD);
}

.btn.active {
  color: #fff;
  border-radius: 10px;
  background-image: linear-gradient(to right, #003459, #000);
}

.dark .btn.active {
  color: #fff;
  border-radius: 10px;
  background-image: linear-gradient(to right, #212121, #BDBDBD);
}


#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100%;
  color: black;
  text-align: center;
  justify-content: center;
  font-family: 'Sarabun';
  margin-top: 100px;
}


.dark footer {
  display: flex;
  width: 100%;
  color: white;
  text-align: center;
  justify-content: center;
  font-family: 'Sarabun';
  margin-top: 100px;
}

@media (max-width: 769px) {
  .Drawing {
    font-size: 32px;
  }

  .column {
    width: 100%
  }

  .btn {
    padding: 11px 14px;
    margin: 5px;
  }

  .content img {
    object-fit: cover;
  }

}