
body {
  font-family: Sarabun;
}

p {
  color: black;
  font-size: 58px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.dark p {
  color: #fff;
}

.main3 {
  max-width: 70%;
  margin: auto;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
}


.dark .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background: #424242;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
}


.btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #003459, #000);
}


.dark .btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #212121, #BDBDBD);
}


.btn.active {
  color: #fff;
  border-radius: 10px;
  background-image: linear-gradient(to right, #003459, #000);
}

.dark .btn.active {
  color: #fff;
  border-radius: 10px;
  background-image: linear-gradient(to right, #212121, #BDBDBD);
}


.row {
  margin: 10px -16px;
}

.row,
.row>.column {
  padding: 8px;
}

.column {
  float: left;
  text-transform: uppercase;
  width: 32%;
  display: none;
  margin-top: 5%;
  margin-top: 15px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  border-radius: 10px;
  background-color: #f2f2f577;
  padding: 20px;
  padding-top: 30px;
  cursor: pointer;
  box-shadow: 1px 3px 5px 5px rgba(77, 77, 77, 0.4);
  margin-top: 30px;
  margin-right: 60px;
  position: relative;
  scale: 110%;
  left: 50px;
}

.dark .content {
  border-radius: 10px;
  background-color: #BDBDBD;
  padding: 20px;
  padding-top: 30px;
  cursor: pointer;
  box-shadow: 1px 3px 5px 5px rgba(77, 77, 77, 0.4);
  margin-top: 20px;
  margin-right: 60px;
  scale: 110%;
  left: 50px;

}

.content:hover {
  border-radius: 10px;
  background-color: #003459;
  color: white;
  padding: 20px;
  padding-top: 30px;
  cursor: pointer;
}

.dark .content:hover {
  border-radius: 10px;
  background-color: #424242;
  color: white;
  padding: 20px;
  padding-top: 30px;
  cursor: pointer;
}

.show {
  display: block;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background: #fff;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  margin: 0 20px;
  margin-bottom: 10px;
}

.btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #003459, #000);
}

.btn.active {
  color: #fff;
  border-radius: 10px;
  background-image: linear-gradient(to right, #003459, #000);
}



  .dark p1{
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  }

  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    }

  #lightbox.active {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  #lightbox img {
      max-width: 90%;
      max-height: 80%;
      padding: 4px;
      background-color: black;
      border: 2px solid white;
      cursor: pointer;
    }
    

  footer {
    position: absolute;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 190px;
    }


  #ourvideo {
  width: 100%;
  height: 100%;
  margin-top: -120px;
  cursor: pointer;
  border-radius: 5%;
  padding: 1px;
  background-color: black;
  box-shadow: 1px 1px 5px black;
  }


  @media (max-width: 1366px) {
    .column {
        width: 100%;
        position: relative;
    }

    .btn {
        padding: 11px 14px;
        line-height: 16px;
        position: relative;
        margin-left: 0;
        margin-right: 0;         
    }


}
