* {
    box-sizing: border-box;
}

body {
    font-family: Sarabun;
}

.dark p1 {
    color: white;
}

p {
    position: relative;
    z-index: 0;
    line-height: 15px;
    margin-top: 20px;
    word-break: break-all;
}

p2 {
    position: relative;
    z-index: 0;
    line-height: 35px;
    top: -15px;
    word-break: break-all;
}

.intro {
    padding: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 58px;
    font-weight: 400;
    position: relative;
    margin-top: -45px;
}

.intro2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
}


.box-container {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 17px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card {
    margin: 0px 0px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  */
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
}


.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin: 0;

}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: #003459;
}

footer {
    display: block;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 100px;
}

.dark footer {
    display: block;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 100px;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .box-container {
        width: 50%;
        height: 50%;
    }

    .intro1,
    .intro2 {
        font-size: 24px;
    }

    .card h2,
    .card-body,
    .card p {
        font-size: 18px;
    }
}

.fade-color {
    animation: fadeColor 2s;
}

@keyframes fadeColor {
    0% {
        background-color: green;
    }

    100% {
        background-color: black;
    }
}











.section * {
    box-sizing: border-box;
}

.section body {
    font-family: Sarabun;

}

section .dark p1 {
    color: white;
}


section p {
    position: relative;
    z-index: 0;
    line-height: 15px;
    margin-top: 20px;
    word-break: break-all;
}

section p2 {
    position: relative;
    z-index: 0;
    line-height: 35px;
    top: -15px;
    word-break: break-all;
}

section .intro {
    padding: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 58px;
    font-weight: 400;
    position: relative;
    margin-top: -45px;
}

section .intro2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
}


section .box-container {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 17px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

section .card {
    margin: 0px 0px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  */
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.2);
}


section .card img {
    width: 100%;
    height: auto;
}

section .card h2 {
    margin: 0;

}

section .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem;
}

section .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.5s;
}

section .button:hover {
    background-color: #003459;
}