* {
   font-family: Sarabun;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
}

h1 {
   font-family: Sarabun;
   position: relative;
   margin-top: 50px;
   color: black;
   font-size: 58px;
   font-weight: 400;
   text-align: center;
   margin-top: 50px;
}

.dark h1 {
   color: #fff;
}

.container {
   max-width: 1500px;
   margin: 80px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap: 20px;
   margin-left: -100px;
   margin-right: 100px;
   position: relative;
   bottom: 20px;
}

.container .main-video-container {
   flex: 1 1 700px;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
   background-color: #fff;
   padding: 15px;
   width: 100%;
   height: 505px;
   margin-bottom: 10px;
   margin-left: 200px;
}


.dark .container .main-video-container {
   background-color: #616161;
}

.container .main-video-container .main-video {
   margin-bottom: 7px;
   border-radius: 5px;
   width: 100%;
   height: 405px;
   background-color: black;
}

.container .main-video-container .main-vid-title {
   font-size: 20px;
   color: #444;
}

.dark .container .main-video-container .main-vid-title {
   font-size: 20px;
   color: #fff;
}

.container .video-list-container {
   flex: 1 1 375px;
   height: 505px;
   overflow-y: scroll;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
   background-color: #fff;
   padding: 15px;
   margin-bottom: 80px;
}

.dark .container .video-list-container {
   background-color: #616161;
}

.container .video-list-container::-webkit-scrollbar {
   width: 10px;

}

.container .video-list-container::-webkit-scrollbar-track {
   background-color: #fff;
   border-radius: 5px;
}

.container .video-list-container::-webkit-scrollbar-thumb {
   background-color: #444;
   border-radius: 5px;
}

.container .video-list-container .list {
   display: flex;
   align-items: center;
   gap: 15px;
   padding: 10px;
   background-color: #eee;
   cursor: pointer;
   border-radius: 5px;
   margin-bottom: 10px;
}


.dark .container .video-list-container .list {
   background-color: #424242;
}



.container .video-list-container .list:last-child {
   margin-bottom: 0;
}

.container .video-list-container .list.active {
   background-color: #003459;
}

.dark .container .video-list-container .list.active {
   background-color: #757575;
}

.container .video-list-container .list.active .list-title {
   color: #fff;
}

.container .video-list-container .list .list-video {
   width: 100px;
   height: 50px;
   border-radius: 5px;
}

.container .video-list-container .list .list-title {
   font-size: 17px;
   color: #444;
}

.dark .container .video-list-container .list .list-title {
   font-size: 17px;
   color: #fff;
}

footer {
   display: block;
   width: 100%;
   color: black;
   text-align: center;
   position: relative;
   margin-top: 0px;
   top: -15px;
}

.dark p1 {
   color: white;
}

@media (max-width:1200px) {

   .container {
      margin: 0;
      position: relative;
      right: 110px;
      margin-top: 30px;
   }

   .container .video-list-container {
      flex: 1 1 375px;
      height: 500px;
      overflow-y: scroll;
      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
      background-color: #fff;
      padding: 15px;
      margin-bottom: 80px;
      left: 110px;
      position: relative;
      scale: 95%;
   }

   footer {
      display: block;
      width: 100%;
      color: black;
      text-align: center;
      margin-top: 10px;
   }


}

@media (max-width:450px) {


   .container .main-video-container .main-vid-title {
      font-size: 15px;
      text-align: center;
   }

   .container .video-list-container .list {
      flex-flow: column;
      gap: 10px;
   }

   .container .video-list-container .list .list-video {
      width: 100%;
   }

   .container .video-list-container .list .list-title {
      font-size: 15px;
      text-align: center;
   }

}






















section4 h3 p {
   left: -10px;

}

section4 h4 p {
   left: 0px;

}



section4 * {
   font-family: Sarabun;
   margin: 1px;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
}

section4 h1 {
   font-family: Sarabun;
   position: relative;
   margin-top: 50px;
   color: black;
   font-size: 58px;
   font-weight: 400;
   text-align: center;
   margin-top: 50px;
}

section4 .dark h1 {
   color: #fff;
}

section4 .container {
   max-width: 1500px;
   margin: 100px auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap: 20px;
   margin-left: 70px;
   position: relative;
   bottom: 20px;
}

section4 .container .main-video-container {
   flex: 1 1 700px;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
   background-color: #fff;
   padding: 15px;
   width: 100%;
   height: 505px;
   margin-bottom: 10px;
   margin-left: 200px;
}


section4 .dark .container .main-video-container {
   background-color: #616161;
}

section4 .container .main-video-container .main-video {
   margin-bottom: 7px;
   border-radius: 5px;
   width: 100%;
   height: 405px;
   background-color: black;
}

section4 .container .main-video-container .main-vid-title {
   font-size: 20px;
   color: #444;
}

section4 .dark .container .main-video-container .main-vid-title {
   font-size: 20px;
   color: #fff;
}

section4 .container .video-list-container {
   flex: 1 1 375px;
   height: 505px;
   overflow-y: scroll;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
   background-color: #fff;
   padding: 15px;
   margin-bottom: 80px;
}

section4 .dark .container .video-list-container {
   background-color: #616161;
}

section4 .container .video-list-container::-webkit-scrollbar {
   width: 10px;

}

section4 .container .video-list-container::-webkit-scrollbar-track {
   background-color: #fff;
   border-radius: 5px;
}

section4 .container .video-list-container::-webkit-scrollbar-thumb {
   background-color: #444;
   border-radius: 5px;
}

section4 .container .video-list-container .list {
   display: flex;
   align-items: center;
   gap: 15px;
   padding: 10px;
   background-color: #eee;
   cursor: pointer;
   border-radius: 5px;
   margin-bottom: 10px;
}


section4 .dark .container .video-list-container .list {
   background-color: #424242;
}



section4 .container .video-list-container .list:last-child {
   margin-bottom: 0;
}

.container .video-list-container .list.active {
   background-color: #003459;
}

section4 .dark .container .video-list-container .list.active {
   background-color: #757575;
}

section4.container .video-list-container .list.active .list-title {
   color: #fff;
}

section4 .container .video-list-container .list .list-video {
   width: 100px;
   height: 50px;
   border-radius: 5px;
}

section4 .container .video-list-container .list .list-title {
   font-size: 17px;
   color: #444;
}

section4 .dark .container .video-list-container .list .list-title {
   font-size: 17px;
   color: #fff;
}

section4 footer {
   display: block;
   width: 100%;
   color: black;
   text-align: center;
   position: relative;
   margin-top: 0px;
   top: -15px;
}

section4 .dark p1 {
   color: white;
}

@media (max-width:1200px) {

   section4 .container {
      margin: 0;
      position: relative;
      right: 110px;
      margin-top: 30px;
   }

   section4 .container .video-list-container {
      flex: 1 1 375px;
      height: 500px;
      overflow-y: scroll;
      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
      background-color: #fff;
      padding: 15px;
      margin-bottom: 80px;
      left: 110px;
      position: relative;
      scale: 95%;
   }

   section4 footer {
      display: block;
      width: 100%;
      color: black;
      text-align: center;
      margin-top: 10px;
   }


}

@media (max-width:450px) {


   section4 .container .main-video-container .main-vid-title {
      font-size: 15px;
      text-align: center;
   }

   section4 .container .video-list-container .list {
      flex-flow: column;
      gap: 10px;
   }

   section4 .container .video-list-container .list .list-video {
      width: 100%;
   }

   section4 .container .video-list-container .list .list-title {
      font-size: 15px;
      text-align: center;
   }

}